/* FlexBox */

.container{
    background-color: aqua;
    display: flex;
    /*flex-direction: row-reverse;*/
}

.section{
    flex: 1;
}

/*.section{
    background-color: aqua;
    display: inline-block;
    border: 1px solid red;
    width: 48%;
}*/